* {
	margin: 0;
	padding: 0;
}
h1 {
	color: red;
}

p {
	color: violet;
}
#main{
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}
#head{
    height: 40px;
    background-color: #ddd;
    border-bottom: 1px solid #CDCDCD;
    margin-bottom:5px;
}
#menu ul{
	background: #1c5c59;
	list-style-type: none;
	text-align: left;
}
#menu li {
  color: #f1f1f1;
  display: inline-block;
  width: 120px;
  height: 40px;
  line-height: 40px;
  margin-left: -5px;
  text-align: center;
}
#menu a {
  text-decoration: none;
  color: #fff;
  display: block;
}
#menu a:hover {
  background: #F1F1F1;
  color: #dff235;
}
#content{
    /*border: 1px solid #CDCDCD;*/
	min-height: 540px;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}
#footer{
	clear: both;
    background-color:rgb(255,255,255);
    font-size:16px;
    text-align:center;
    padding: 18px;
}
#footer a{
	background: transparent;
	color: #1c5c59;
	text-decoration: none;
}
#footer a:hover{
	color: #dff235;
    text-decoration: none;
}
footer a:visited {
	color: yellow;
}